.mainDiv {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.firstDiv {
	margin-top: 30px;
}
.btn{
	margin-top: 30px;
}
.secondDiv {
	margin-top: 30px;
}


.box {
	margin: auto;
	border: 2px solid black;
	width: 400px;
	height: 400px;
}